<mat-card>
  <mat-card-content>
    <form class="user-form" #userForm="ngForm" (ngSubmit)="onSalveUser(userForm)" appPasswordConfirmationValidator>
      <div class="user-form__row">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input type="text" name="nome" required matInput [(ngModel)]="userSelected.name" />
          <mat-error>O <strong>Nome</strong> é obrigatório.</mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field>
          <mat-label>Usuário</mat-label>
          <input 
            type="text" 
            name="usuario" 
            required 
            matInput 
            [(ngModel)]="userSelected.username"
            [ngModelOptions]="{updateOn: 'blur'}" 
            #usuarioControl="ngModel" 
            appCredentialsValidator="username"
          />

          <mat-hint>O <strong>Usuário</strong> será usado para login.</mat-hint>

          @if(usuarioControl.hasError('required')){
            <mat-error>O <strong>Usuário</strong> é obrigatório.</mat-error>
          }

          @if(!usuarioControl.hasError('required') && usuarioControl.hasError('invalidUserName')){
            <mat-error>Este <strong>Usuário</strong> já está sendo utilizado.</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input 
            type="text" 
            name="email" 
            required 
            matInput 
            [(ngModel)]="userSelected.email"
            [ngModelOptions]="{ updateOn: 'blur' }" 
            #emailControl="ngModel" 
            appEmailPatternValidator 
            appCredentialsValidator="email"
          />

          @if(emailControl.hasError('required')){
            <mat-error>O <strong>E-mail</strong> é obrigatório.</mat-error>
          }

          @if(!emailControl.hasError('required') && emailControl.hasError('invalidEmail')){
            <mat-error>O<strong> E-mail</strong> está inválido.</mat-error>
          }

          @if(!emailControl.hasError('required') && !emailControl.hasError('invalidEmail') && emailControl.hasError('invalidUserEmail')){
            <mat-error>Este <strong>E-mail</strong> já está sendo utilizado.</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input 
            type="text" 
            name="senha" 
            required 
            matInput 
            [(ngModel)]="userSelected.password" 
            (ngModelChange)="onPasswordChange($event)"
            #passwordControl="ngModel"
            appPasswordStrengthValidator
          />

          <mat-progress-bar mode="determinate" [value]="passwordStrength.value" [color]="passwordStrength.color"></mat-progress-bar>
          
          @if(passwordControl.valid){
            <mat-hint>Sua <strong>Senha</strong> está {{passwordStrength.label}}.</mat-hint>
          }

          @if(passwordControl.hasError('required')){
            <mat-error>A <strong>Senha</strong> é obrigatória.</mat-error>
          }

          @if(passwordControl.hasError('invalidPasswordStrength')){
            <mat-error><strong>Senha</strong> {{passwordStrength.label}}. Use uma senha mais forte.</mat-error>
          }
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Confirmar a senha</mat-label>
          <input type="password" name="confirmacaoSenha" required matInput ngModel #passwordConfirmationControl="ngModel" />

          @if(passwordConfirmationControl.hasError('required')){
            <mat-error>A confirmação da <strong>Senha</strong> é obrigatória.</mat-error>
          }

          @if(!passwordConfirmationControl.hasError('required') && passwordConfirmationControl.hasError('invalidPasswordConfirmation')){
            <mat-error><strong>Senha</strong> incorreta.</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input 
            type="text" 
            name="dataNascimento" 
            required 
            readonly
            matInput 
            [min]="minDate" 
            [max]="maxDate"
            [matDatepicker]="datepicker"
            [ngModel]="dateValue" 
            (ngModelChange)="onDateChange($event)"
          />

          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-error>O <strong>data de nascimento</strong> é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Selecione o estado</mat-label>
          <mat-select name="estado" required [(ngModel)]="userSelected.state">
            @for (state of statesList; track state.id) {
              <mat-option [value]="state.id">{{state.descricaoContraida}}</mat-option>
            }
          </mat-select>

          <mat-error>O <strong>Estado</strong> é obrigatório.</mat-error>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      
      <div class="user-form__row">
        <div class="w-100">
          <h3>Minhas músicas</h3>
          
          <table mat-table [dataSource]="userSelected.musics" class="mat-elevation-z8">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Título </th>
              <td mat-cell *matCellDef="let element; let i = index"> 
                <mat-form-field>
                  <mat-label>Título</mat-label>
                  <input type="text" [name]="'musica_' + i" required matInput [(ngModel)]="element.title" />

                  <mat-error>O <strong>Título</strong> é obrigatório.</mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="band">
              <th mat-header-cell *matHeaderCellDef> Banda </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field>
                  <mat-label>Banda</mat-label>
                  <input type="text" [name]="'banda_' + i" required matInput [(ngModel)]="element.band" />

                  <mat-error>O <strong>Título</strong> é obrigatório.</mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="genre">
              <th mat-header-cell *matHeaderCellDef> Gênero </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field>
                  <mat-label>Gênero</mat-label>
                  <input 
                    type="text" 
                    [name]="'genero_' + i" 
                    required 
                    matInput 
                    [matAutocomplete]="auto" 
                    [ngModel]="element.genre" 
                    (ngModelChange)="onFilterGenres($event, element)"                    
                  />
                  
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onGenreSelected($event.option.value, element)" [displayWith]="onDisplayNameGenre.bind(this)">
                    @for (genre of element.filteredGenresList; track genre.id) {
                      <mat-option [value]="genre.id">{{genre.description}}</mat-option>
                    }
                  </mat-autocomplete>     

                  <mat-error>O <strong>Gênero</strong> é obrigatório!</mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="favorite">
              <th mat-header-cell *matHeaderCellDef> Favorita </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-checkbox [name]="'favorita_' + i" [(ngModel)]="element.isFavorite" [appMusicsFavoriteDisabled]="userSelected.musics"></mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <div class="user-form__row justify-content-end">
        <button type="submit" mat-raised-button color="primary">Salvar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>