.user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__row{
    display: flex;
    width: 100%;
    gap: 10px;

    mat-form-field{
      width: 100%;
    }
  }
}

.mat-weak-password {
  ::ng-deep &.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #f84633;
  }
}

.mat-medium-password {
  ::ng-deep &.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #f3b634;
  }
}

.mat-strong-password {
  ::ng-deep &.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #32c434;
  }
}