@mixin grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-resumo {
  &__header {
    @include grids;
    text-align: center;
    background: #333;
    padding-block: 5px;
    color: #fff;
  }

  &__main {
    background: #eee;
    padding: 10px;

    &__row {
      @include grids;
      padding-block: 3px;
      
      &:not(:first-child){
        border-top: 1px solid #fff;
      }

      div {
        padding: 2px 10px;

        &:nth-child(2) {
          border-left: 2px solid #ffffff;
        }
      }
    }
  }
}

.diff {
  &-before {
    color: red;
  }
  &-after {
    color: green;
  }
}