/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: darkgray;
}

.w-100 {
    width: 100%;
}

.justify-content-end {
    justify-content: end !important;
}

.text-end {
    text-align: end;
}